extends layout

block content

  // Vendor Files
  script(type='text/javascript', src='/javascripts/src/vendor/please-wait.min.js')
  script(type='text/javascript').
    window.loading_screen = window.pleaseWait({
      backgroundColor: '#489748',
      loadingHtml: '<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>'
    });
    setTimeout(function() { 
      window.loading_screen.finish();
      $('#lobby-title').addClass('fadeInDown');
      $('#mainContent').addClass('fadeIn');
    }, 2000)

  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')    
  script(type='text/javascript', src='/javascripts/src/vendor/webfont.js')
  script(type='text/javascript', src='javascripts/src/vendor/sweetalert.min.js')
  script(type='text/javascript', src='/javascripts/src/vendor/underscore-min.js')
  script(type='text/javascript', src='/javascripts/src/vendor/network-client.js')
  script(type='text/javascript', src='/javascripts/src/vendor/phaser.js')
  
  // Network Configuration
  script(type='text/javascript', src='/javascripts/src/network/index.js')

  // Loading State
  script(type='text/javascript', src='/javascripts/src/loading/loading-state.js')

  // Lobby State
  script(type='text/javascript', src='/javascripts/src/lobby/lobby.js')
  script(type='text/javascript', src='/javascripts/src/lobby/lobby-state.js')
  script(type='text/javascript', src='/javascripts/src/lobby/login-modal.js')

  // Game State
  script(type='text/javascript', src='/javascripts/src/game/vehicles/tank.js')
  script(type='text/javascript', src='/javascripts/src/game/vehicles/bot.js')    
  script(type='text/javascript', src='/javascripts/src/game/weapons/bullet.js')
  script(type='text/javascript', src='/javascripts/src/game/weapons/bomb.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/sounds.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/health-streak-bars.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/info-box.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/map.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/minimap.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/scoreboardTank.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/scoreboard.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/action-feed.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/game-timer.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/camera.js')
  script(type='text/javascript', src='/javascripts/src/game/graphics/overlays.js')
  script(type='text/javascript', src='/javascripts/src/game/game-state.js')
  
  span.hidden#fbid= id

  // Lobby Div
  div#lobby

    // Main Content
    #content-container
      p#lobby-title.animated plip.io
      p#lobby-subtitle Welcome.
      #mainContent.animated
        .container
          .row
            .col-sm-12
              input#input(type='text', name='displayName', placeholder='Nickname', maxlength='10')
          .row
            .col-sm-4.col-sm-offset-4.col-md-2.col-md-offset-5
              button.btn.btn-success.btn-block.center-block.animated#joinGameButton Join Game
          .row
            .col-sm-4.col-sm-offset-4.col-md-2.col-md-offset-5
              button.btn.btn-success.btn-block.center-block#statisticsButton(data-toggle='modal' data-target='#statisticsModal') Statistics 

    // Bottom Middle Instructions Button
    button.btn.btn-link#instructionsButton(type='button' data-toggle='modal' data-target='#instructionsModal') instructions

    // Bottom Left Labels
    span.label.label-success#active-games-label
      | Active Games: 
      span#active-games-value --
    span.label.label-success#active-players-label 
      | Active Players: 
      span#active-players-value --

    // Top Right Settings
    button.btn.btn-link#settings-icon(type='button')
      i.fa.fa-cog(aria-hidden="true")

    // Settings Panel
    .panel.panel-default.hide.animated#settings-panel
      .panel-body
        form
          .checkbox.checkbox-success
            input#music-setting(type='checkbox' checked='checked')
            label
              |  Music 
              i.fa.fa-music(aria-hidden="true")
          .checkbox.checkbox-success
            input#sound-setting(type='checkbox', checked='checked')
            label
              |  Sounds 
              i.fa.fa-volume-up(aria-hidden="true")
          .checkbox.checkbox-success
            input#resolution-setting(type='checkbox', checked='checked')
            label
              |  High Resolution 
              i.fa.fa-th(aria-hidden="true")                           
      .panel-footer
        button.btn.btn-sm.btn-success.center-block#settings-save-button(type='button') Save


  // Ad Div
  div#googleAd(style='width: 800px;')
    script(src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5258405341760716', data-ad-slot='8098742349', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});             

  // Game Div
  div#game
    input.form-control.hide(id="input", type="text", name="displayName", placeholder="Nickname", maxlength="10")

  // Instructions Modal
  div#instructionsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-body
          table.table#instructionsTable
            tbody
              tr
                td
                  img(src='images/c-key.png')
                td
                  h3 Activate shield
              tr
                td
                  img(src='images/b-key.png')
                td
                  h3 Activate bomb
              tr
                td
                  img(src='images/v-key.png')
                td
                  h3 Fire megabullet
              tr
                td
                  img(src='images/spacebar2.png')
                td
                  h3 Fire Bullet
              tr
                td
                  img(src='images/arrow-keys.png')
                td
                  h3 Move in a direction               
        .modal-footer
          button.btn.btn-success.center-block(type='button', data-dismiss='modal') Return 

  // Statistics Modal
  div#statisticsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-body

          h3 Game Statistics
          table.table.table-condensed.table-hover
            tr
              th Total Games Played
              th#total-games --
            tr
              th Highest Score
              th#highest-score --
          h3 Personal Statistics
          table.table.table-condensed.table-hover#personal-statistics-table
            tr
              th Games Played
              th#games-played --
            tr
              th Average Score
              th#average-score ---
            tr
              th Games Won
              th#games-won --
            tr
              th Damage Ratio (Dealt / Taken)
              th#damage-ratio --
            tr
              th Shot Accuracy
              th#shot-accuracy --
            tr
              th Bombs Used
              th#bombs-used --
            tr
              th High Score
              th#high-score --
          #personal-statistics-message.text-center(style='margin-top: 50px; margin-bottom: 30px')
            h4 You need to log in for personal statistics.
            br
            a#login-with-facebook(href='/login/facebook').btn.btn-md.btn-facebook
              i#fb-icon.fa.fa-facebook
              p(style='margin: 0;') Login With Facebook
        .modal-footer
          button.btn.btn-success.center-block(type='button', data-dismiss='modal') Return      
  
