doctype html
html
  head
    title= title
    link(rel='icon', href="images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel="stylesheet", href="stylesheets/sweetalert.css")
    link(rel="stylesheet", href="stylesheets/animate.css")
    link(rel='stylesheet', href='/stylesheets/please-wait.css')
    link(rel='stylesheet', href='/stylesheets/awesome-checkbox.css')

  body(oncontextmenu='return false')
    block content
