html, body { 
  overflow: hidden;
  font-family: Orbitron !important;
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-height: 512px) {
  #content-container {
    transform: scale(0.85);
  }
}

@media (max-height: 482px) {
  #content-container {
    transform: scale(0.65);
  }
}

@media (max-height: 437px) {
  #content-container {
    transform: scale(0.5);
  }
}

@media (max-height: 352px) {
  #content-container {
    transform: scale(0.38);
  }
}

@media (max-height: 292px) {
  #content-container {
    transform: scale(0.28);
  }
}

input[type="text"] {
  display: block;
  margin: 30px auto auto auto;
  padding: 10px;
  width: 230px;
  height: 40px;
  background-color: #489748;
  border: solid 5px #5ABD5A;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 12px;
  text-align: center;
  box-shadow: -4px -4px 12px black;
  color: white;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

input:focus, button:focus, a:focus {
  outline: 0 !important;
}

#googleAd {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#lobby-title {
  text-align: center;
  font-size: 75px;
  color: #5ABD5A;
  font-family: 'Black Ops One' !important;
  text-shadow: -6px -6px 6px black;
}

#lobby-subtitle {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: white;
  text-shadow: -2px -2px 2px black;
}

#lobby {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../images/lobby-background.png");
  background-position: center top;
}

#instructionsTable td {
  border: none;
}

#instructionsButton {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 0px;
  color: white;
}

#active-players-label {
  padding-top: 6px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 16px;
}

#active-games-label {
  font-size: 16px;
  padding-top: 6px;
  position: absolute;
  left: 10px;
  bottom: 48px;
}

#joinGameButton, #statisticsButton {
  margin-top: 15px;
  white-space: normal;
}

#settings-icon {
  position: absolute;
  padding: 0px 0px;
  bottom: 7px;
  right: 7px;
  font-size: 25px;
  color: #FFFFFF;
}

#settings-panel {
  position: absolute;
  bottom: 10px;
  right: 40px;
  margin-bottom: 0px;
}

#login-with-facebook {
  display:inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#fb-icon {
  margin-right: 12px;
  margin-bottom: 2px;
}

#status-panel {
  margin-top: 20px;
  margin-bottom: 0px;
  width: 300px;
}

/* SpinKit Spinner */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* SpinKit Spinner */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
